@import '../../../variables.styl'

:host
  font-size 0.8em
  cursor pointer
  div
    padding 2px
  &:hover
    background-color lightGrey
  .button
    margin 0
  &.active
    div
      background-color $greenActive

