@import '../../../variables.styl'
:host
  .upload-box
    padding 0px 3px 15px 3px
    margin 10px
    border-bottom solid 1px
  .upload-box-name
    font-weight bold
  .upload-info-box  
    padding 0px
  .upload-info-message
    font-size 12px
  .upload-info-status
    margin 5px 0px 10px 0px
    height 30px
    display flex
    flex-direction row
    justify-content space-between
    align-items center
  .progress
    margin-bottom 0px
  .upload-info-button-container
    display flex
    flex-direction row
    justify-content flex-end
    .upload-info-button
      margin 0px 0px 0px 5px