/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css"
@import "~@fortawesome/fontawesome-free/css/all.css"
@import "~foundation-sites/dist/css/foundation.css"
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "variables.styl"

html, body, h1, h2, h3, h4, h5, h6 {
  font-family Raleway
}

html, body
  height: 100%


.light-blue
  color $AppMediumBlue

.leaflet-fa-marker-icon
  background-color #fff
  width: 2em;
  height: 2em;

.break
  word-break break-word

.marker-cluster
  div
    width: 25px;
    height: 25px;
    background-color #4f8677;
    border: 3px solid #fff;
    text-align: center;
    border-radius: 50%;
    line-height 19px;
    color: #fff;

[appDropdown]
  cursor pointer

.control-bar
  border-bottom: 1px solid lightGrey
  .dropdown-pane
    z-index 9999



.dock-panel
  width: 250px
  display flex
  flex-direction column
  height auto
  .dock-panel-title
    color: lightBlue
    font-size 1.25em
  .dock-panel-content
    padding 5px
    overflow-y scroll
    pointer-events all !important
    height calc(100% - 80px)
  .dock-panel-controls
    bottom: 0
app-map
  z-index 1




