@import "../../../variables.styl"

:host
  padding: 15px;
  .asset-detail
    // height calc(100vh - 85px - 30px)
    .asset-detail-content
      // overflow-y scroll
      margin-top: 30px
    .asset-detail-header
      display flex
      align-items center
  position: fixed;
  z-index: 5000;
  width: 35%;
  min-width: 250px;
  max-width: 400px;
  right: 10px;
  height: auto;
  top: 75px;
  bottom: 10px;
  background-color: #fff
  box-shadow: 0px 2px 2px 2px hsla(0, 0%, 0%, 0.35);
  pointer-events: all;
  /* transition: right 0.5s ease-out; */
