
<div appDropdown>
  <span class="hollow tiny"  appDropdownToggle>Projects</span>
  <div class="dropdown-pane" appDropdownMenu>
    <ul class="no-bullet">
      <li *ngFor="let p of projects" (click)="selectProject(p)" [ngClass]="{'active-project': p === selectedProject}">
        {{ p.name }}
      </li>
    </ul>
  </div>
</div>
<div>
  <span class="lat-lon-label"> Lat: </span>
  <span> {{ mapMouseLocation.lat | number:'.4' }}</span>
  <span class="lat-lon-label"> Lon: </span>
  <span> {{ mapMouseLocation.lng | number:'.4' }}</span>
</div>
<!--<div>-->
<!--  <div>-->
<!--    <span> lat: </span>-->
<!--    <span> lon: </span>-->
<!--  </div>-->
<!--</div>-->
