@import '../../../variables.styl'

:host
  //background-color red
  font-size 0.8em
  .lat-lon-label
    font-size 0.8em
    color lightGrey
  .active-project
    background-color $greenActive
  .dropdown-pane
    z-index 9999
