@import '../../../variables.styl'

:host
    display block
    font-size 0.8em
    height 27px
    vertical-align center
    .lat-lon-label
        font-size 0.8em
        color #4d4d4d

    .active-project
        background-color $greenActive
    .menu
        button.dropdown.button
            padding 0.85em 1em
    .switch
        margin 0
    .button.tiny
        margin 0
