<div class="dock-panel">
  <div class="dock-panel-header">
    <span class="dock-panel-title"> Streetview </span>
  </div>
  <div class="dock-panel-content">
    <div *ngIf="isLoggedIn('google') || isLoggedIn('mapillary'); else notAuthenticated">
      <div class="publish-container grid-x align-right">
        <a class="publish-button" (click)="openStreetviewPublishModal()">
          <small>
            <i class="fas fa-plus"></i>
            Publish
          </small>
        </a>
        <a class="publish-button" (click)="openStreetviewLinkModal()">
          <small>
            <i class="fas fa-exchange-alt"></i>
            Link
          </small>
        </a>
      </div>

      <tabset>
        <tab heading="Assets">
          <app-streetview-assets>
          </app-streetview-assets>
        </tab>

        <tab heading="Publish Log">
          <app-streetview-logs>
          </app-streetview-logs>
        </tab>

        <tab heading="Accounts">
          <app-streetview-accounts>
          </app-streetview-accounts>
        </tab>
      </tabset>
    </div>

    <ng-template #notAuthenticated>
      <div style="margin-top: 8rem; height:100%" class="not-authenticated grid-y align-start text-center">
        <h5 style="margin-bottom: 2rem">
          <b>You are not<br>
            Authenticated to any<br>
            mapping service!</b>
        </h5>
        <div class="grid-y align-center">
          <button class="button auth-button" (click)="login('mapillary')">
            Login to Mapillary
          </button>
          <!-- <button class="button auth-button" (click)="login('google')">
               Login to Google Streetview
               </button> -->
        </div>
      </div>
    </ng-template>

  </div>
</div>
