@import '../../../variables.styl'

:host
  // .publish-container
  //   display: flexbox
  .publish-button
    margin-top: 1.5rem
    margin-bottom: 0.5rem
    margin-right: 0.5rem
  .auth-button
    margin: 0.5rem
::ng-deep
  .tabs-title
    .nav-link
      padding: 0.5rem
