/* Table Placeholder */
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty > :first-child {
  margin-top: 10px;
  padding: 50px;
  border: 1px solid var(--global-color-primary--dark);
}
