<div class="dock-panel">
  <div class="dock-panel-content">
    <p class="dock-panel-title"> Layers </p>
    <h6>Tile Layers</h6>
    <button class="button expanded hollow tiny success" (click)="openCreateTileServerModal()">
      <i class="fa fa-plus"></i>
    </button>
    <div *ngFor="let ts of tileServers" class="tile-servers">
      <div class="grid-x" (drag)="setDragElement(ts.id)" (dragover)="setDragOverElement($event, ts.id)" (drop)="dropElement()" draggable=true>
        <label style="max-width: 200px; overflow: hidden; line-height: 3; text-overflow: ellipsis; white-space: nowrap" class="cell small-10 map-visibility">
          <input name="" type="checkbox" [checked]="ts.isActive" (change)="toggleLayerActivate(ts.id)"/>
          <i class="fas fa-eye-slash unchecked"></i>
          <i class="fas fa-eye checked"></i>
          <div id="tile-server-name"
               data-tooltip
               tabindex="1"
               title="{{ts.name}}"
               data-position="top"
               data-alignment="left"
               *ngIf="!inputShown"
               (dblclick)="showInput(ts.name)">
            {{ts.name}}            
          </div>

          <input #activeText
                 id=property-input
                 type="text"
                 *ngIf="inputShown"
                 (blur)="onEnter(activeText.value, ts)"
                 (keyup.enter)="onEnter(activeText.value, ts)">
        </label>

        <div class="cell auto grid-x align-right">
          <button class="button secondary clear"  style="padding: 0px 3px; margin: 0; line-height: 0">
            <i class="fas fa-edit" (click)="showInput()" *ngIf="!inputShown"></i>
            <i class="fas fa-check" (click)="hideInput()" *ngIf="inputShown"></i>                      
          </button>

          <button class="button secondary clear"  style="padding: 0px 3px; margin: 0; line-height: 0" >
            <i class="fas fa-sliders-h" (click)="ts.showDescription=!ts.showDescription"></i>
          </button>          
          <!-- <div *ngIf="ts.default; else delete_icon">
               <i data-tooltip tabindex="1" title="Default Layer" class="fas fa-asterisk"></i>
               </div> -->

          <!-- <ng-template #delete_icon> -->
            <button
              class="button alert clear button-no-margin"
              style="padding: 0; margin: 0; line-height: 0"
              (click)="deleteLayer(ts.id)"
            >
              <i class="fa fa-trash"></i>
            </button>
            <!-- </ng-template> -->

        </div>
      </div>

      <div *ngIf="ts.showDescription">
        <div class="grid-x row" style="padding: 15px 10px;">
          <label class="small-4 align-self-middle">Opacity</label>
          <input #slider type="range" min="0" max="1" step="0.1" [value]="ts.opacity" class="slider small-8 align-self-middle" id="myRange" style="margin: 0" (change)="setLayerOpacity(ts.id, slider.value)">
        </div>
      </div>

    </div>
    <hr>
    <h6> Overlays </h6>
    <button class="button expanded hollow tiny success" (click)="openCreateOverlayModal()">
      <i class="fa fa-plus"></i>
    </button>
    <div *ngFor="let ov of overlays" class="overlay">
      <div class="grid-x align-middle overlay-content" [ngClass]="{'active-overlay': ov.isActive}">
        <div class="cell small-4 panel-thumbnail">
          <img src="{{environment.apiUrl}}/assets/{{ov.project_id}}/{{ov.uuid}}.thumb.jpeg">
        </div>
        <div class="cell auto" (click)="selectOverlay(ov)">
          <span class="overlay-label"> {{ov.label}} </span>
        </div>
        <div class="cell grid-x auto align-right">
            <button
              class="button hollow tiny alert button-no-margin"
              (click)="deleteOverlay(ov)"
            >
              <i class="fa fa-trash"></i>
            </button>
        </div>
      </div>
    </div>

  </div>
</div>
