<div class="dock-panel">
  <div class="dock-panel-content">
    <p class="dock-panel-title"> Layers </p>
    <h6>Tile Layers</h6>
    <button class="button expanded hollow tiny success" (click)="openCreateTileServerModal()">
      <i class="fa fa-plus"></i>
    </button>
    <div *ngFor="let ts of tileServers" class="tile-servers">
      <div class="grid-x" (drag)="setDragElement(ts.name)" (dragover)="setDragOverElement($event, ts.name)" (drop)="dropElement()" draggable=true>
        <div style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap" class="cell">
          <input name="" type="checkbox" [checked]="ts.isActive" (change)="toggleLayerActivate(ts.name)"/>
          {{ts.name}}
        </div>
        <div class="cell auto grid-x align-right">
          <div *ngIf="ts.default; else delete_icon">
            <i data-tooltip tabindex="1" title="Default Layer" class="fas fa-asterisk"></i>
          </div>

          <ng-template #delete_icon>
            <button
              class="button tiny hollow alert button-no-margin"
              (click)="deleteLayer(ts.name)"
            >
              <i class="fa fa-trash"></i>
          </button>
          </ng-template>

        </div>
      </div>
    </div>
    <hr>
    <h6> Overlays </h6>
    <button class="button expanded hollow tiny success" (click)="openCreateOverlayModal()">
      <i class="fa fa-plus"></i>
    </button>
    <div *ngFor="let ov of overlays" class="overlay">
      <div class="grid-x align-middle overlay-content" [ngClass]="{'active-overlay': ov.isActive}">
        <div class="cell small-4 panel-thumbnail">
          <img src="{{environment.apiUrl}}/assets/{{ov.project_id}}/{{ov.uuid}}.thumb.jpeg">
        </div>
        <div class="cell auto" (click)="selectOverlay(ov)">
          <span class="overlay-label"> {{ov.label}} </span>
        </div>
        <div class="cell grid-x auto align-right">
            <button
              class="button tiny hollow alert button-no-margin"
              (click)="deleteOverlay(ov)"
            >
              <i class="fa fa-trash"></i>
            </button>
        </div>
      </div>
    </div>

  </div>
</div>
