<div class="grid-x">
  <div class="cell small-5">
    <span>{{pc.description}}</span>
  </div>
  <div class="cell small-7 right">
    <ul class="dropdown vertical menu" dropdown>
      <li class="is-dropdown-submenu-parent">
        <button dropdownToggle class="dropdown button tiny hollow expanded" aria-controls="dropdown-button">
          Add
        </button>
        <ul *dropdownMenu class="menu is-dropdown-submenu" role="menu">
          <li class="clickable" (click)="openFileBrowserModal()">From DesignSafe</li>
          <li class="clickable">
            <label for="upload"> From local file </label>
            <input type="file" id="upload" style="display: none" (change)="addFile($event.target.files)">
          </li>
        </ul>
      </li>
    </ul>
    <button class="button alert tiny hollow" (click)="delete()">
      <i class="fas fa-trash"></i>
    </button>
    <button class="button tiny hollow" tooltip="View additional information" [delay]="500" (click)="openPointCloudInfoModal()">
      <i class="fas fa-info-circle"></i>
    </button>
  </div>
</div>

