<div class="grid-x">
  <div class="cell small-5">
    <span>{{pc.description}}</span>
  </div>
  <div class="cell small-7 right">
      <label class="button success tiny hollow">
         Add las/laz
        <input type="file" accept=".las, .laz" style="display: none" (change)="addFile($event.target.files)">
      </label>
    <button class="button alert tiny hollow" (click)="delete()">
      <i class="fas fa-trash"></i>
    </button>
    <button class="button tiny hollow" tooltip="View additional information" [delay]="500" (click)="openPointCloudInfoModal()">
      <i class="fas fa-info-circle"></i>
    </button>
  </div>
</div>

