@import 'leaflet/dist/leaflet.css';
@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://unpkg.com/mapillary-js@2.18.0/dist/mapillary.min.css');

/* for hazmapper specific overwrites of base and portal styles" like,

:root {
  --global-color-accent--xx-light: blue;
}

*/

/* CSS module styles taken from Angular styles.styl */
:root {
  --global-font-family: 'Raleway', san-serif;
}
html,
body {
  height: 100%;
  font-family: var(--global-font-family);
}
table,
form,
button {
  font-family: inherit;
}
