.root {
  display: flex;
  justify-content: center;
  width: 100%;
}
.projectList {
  width: 100%;
  overflow-y: scroll;
  padding: 10px;
}
.projectList th {
  background: #d0d0d0;
  max-width: fit-content;
  text-overflow: ellipsis;
}
.projectList tr,
td {
  max-width: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.projectList tr:hover td {
  color: white;
  background-color: ;
}

.buttonColumn {
  white-space: nowrap;
  overflow: hidden;
  text-align: end;
}
