@import '../../../variables.styl'

:host
  .accounts-box
    padding 0px 3px 15px 3px
    margin 10px
  .auth-button
    margin 0.5rem
  .auth-info
    font-size 12px
    margin-bottom 20px
  .auth-info-button-container
    display flex
    flex-direction row
    justify-content center