:host
  .tree-file-node
    font-size: 0.8em;
  .active
    background-color lightgreen;
  .button
    margin 0
  .scroll-viewport
    height: 480px;
    width: 230px;
  .scroll-item
    height: 20px;
