@import '../../../variables.styl'

:host
  .selection-container
    padding: 15px
    background: #f9f9f9
    margin-bottom: 20px
  .selection-item
    border 1px solid transparent
  .selection-item:hover
    border 1px solid #ccc
    user-select: none
  .selected
    background: #d3d3d3