<div class="grid-x">
  <div class="cell shrink">
    <div class="dock-button" (click)="showPanel('assets')" [ngClass]="{'active': panelsDisplay.assets}">
      <div>
        <img class="dock-button-icon" src="assets/assets.png" width="32px">
      </div>
      <div class="dock-button-label">
        <span>Assets</span>
      </div>
    </div>
    <div class="dock-button" (click)="showPanel('layers')" [ngClass]="{'active':  panelsDisplay.layers}">
      <div>
        <img class="dock-button-icon" src="assets/layers.png" width="32px">
      </div>
      <div class="dock-button-label">
        <span>Layers</span>
      </div>
    </div>
    <div class="dock-button" (click)="showPanel('filters')" [ngClass]="{'active': panelsDisplay.filters}">
      <div>
        <img class="dock-button-icon" src="assets/filters.png" width="32px">
      </div>
      <div class="dock-button-label">
        <span>Filters</span>
      </div>
    </div>
    <div class="dock-button" (click)="showPanel('measure')" [ngClass]="{'active': panelsDisplay.measure}">
      <div>
        <img class="dock-button-icon" src="assets/measure.png" width="32px">
      </div>
      <div class="dock-button-label">
        <span>Measure</span>
      </div>
    </div>
    <div class="dock-button" (click)="showPanel('settings')" [ngClass]="{'active': panelsDisplay.settings}">
      <div>
        <img class="dock-button-icon" src="assets/settings.png" width="32px">
      </div>
      <div class="dock-button-label">
        <span>Settings</span>
      </div>
    </div>
  </div>
  <div class="cell auto dock-panel">
    <app-assets-panel *ngIf="panelsDisplay.assets" class="dock-panel"></app-assets-panel>
    <app-layers-panel *ngIf="panelsDisplay.layers" ></app-layers-panel>
    <app-filters-panel *ngIf="panelsDisplay.filters" ></app-filters-panel>
    <app-measure-panel *ngIf="panelsDisplay.measure" ></app-measure-panel>
    <app-settings-panel *ngIf="panelsDisplay.settings" ></app-settings-panel>

  </div>
</div>
