@import '../../../variables.styl'

:host
  z-index 314159
  position absolute
  top 0
  left 0
  margin 10px
  background-color #fff
  color #525252
  width 300px
  border 1px solid $lightGrey
  border-radius 3px
  height calc(100% - 20px)
  padding 10px




