.root {
  height: 100%;
  width: var(--hazmapper-panel-navbar-width);
  min-width: var(--hazmapper-panel-navbar-width);
  overflow-x: hidden; /* Hide horizontal scrollbar */
  padding-top: var(--global-space--section-top);
  border-right: 1px solid #707070;
}

.root :global([class*='nav-content']) {
  height: 70px;
  min-height: 70px;
}

.navItem {
  height: 70px;
  width: var(--hazmapper-panel-navbar-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  width: 32px;
}
