<h4>Point Cloud {{ pc.id }}</h4>

<div class="point-cloud-info-content">
    <div class="grid-x grid-margin-x kv-table">
        <div class="cell small-5 text-left break">
            <b> <span> Description </span></b>
        </div>
        <div class="cell small-7 text-left break">
            <span> {{ pc.description }} </span>
        </div>
        <div class="cell small-5 text-left break">
            <b> <span> Conversion Parameters </span></b>
        </div>
        <div class="cell small-7 text-left break">
            <span *ngIf="pc.conversion_parameters === ''"> --------------------- </span>
            <span *ngIf="pc.conversion_parameters != null">
                {{ pc.conversion_parameters }}
            </span>
        </div>
        <div class="cell small-5 text-left break">
            <b> <span> Feature Id </span></b>
        </div>
        <div class="cell small-7 text-left break">
            <span *ngIf="pc.feature_id == null"> --------------------- </span>
            <span> {{ pc.feature_id }} </span>
        </div>
        <div class="cell small-5 text-left break">
            <b> <span> Processing Status </span></b>
        </div>
        <div class="cell small-7 text-left break">
            <span *ngIf="pc.task.status == null"> --------------------- </span>
            <span> {{ pc.task.status }} </span>
        </div>
        <div class="cell small-5 text-left break">
            <b>Files</b>
        </div>
        <div class="cell small-7 text-left break">
            <span *ngIf="fileInfo == null"> <i>No Files</i> </span>
            <ul style="list-style-type: disk">
                <li *ngFor="let f of fileInfo">{{ f.name }}</li>
            </ul>
        </div>
    </div>
</div>

<div class="button-group small">
    <button class="button small warning" type="button" (click)="close()">Close</button>
</div>
