@import '../../../variables.styl'

// TODO: Fix annoying margin flash
:host
  .fileslisting
    height 20em
    overflow-y scroll
    padding: 0px 20px
  .file-row
    background: #f9f9f9
    border 1px solid transparent
    user-select: none
    -webkit-user-select: none
    -moz-user-select: none
    &:hover
      border 1px solid $lightGrey;
    &.selected
      background #d3d3d3
