<h4 *ngIf="heading">{{ heading }}</h4>
<small *ngIf="allowedExtensions && allowedExtensions.length"
    ><em>Allowed file types: {{ allowedExtensions.join(', ') }} </em><br
/></small>
<small *ngIf="helpText"
    ><em>{{ helpText }} </em></small
>
<hr *ngIf="heading || helpText || allowedExtensions" />
<select (ngModelChange)="selectSystem($event)" [(ngModel)]="selectedSystem">
    <option [ngValue]="myDataSystem">My Data</option>
    <option *ngIf="showPublicSystems" [ngValue]="communityDataSystem">
        Community Data
    </option>
    <option *ngIf="showPublicSystems" [ngValue]="publishedDataSystem">
        Published Data
    </option>
    <optgroup label="My Projects">
        <option *ngFor="let project of projects" [ngValue]="project">
            {{ project.description }}
        </option>
    </optgroup>
</select>
<div
    class="fileslisting"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="100"
    [scrollWindow]="false"
    (scrolled)="getFiles()"
    (click)="this.selectedFiles.clear(); firstFileIndex = undefined"
>
    <div
        class="grid-x file-row"
        *ngFor="let file of filesList; let fileIndex = index"
        [ngClass]="{ selected: selectedFiles.has(file.path) }"
    >
        <div
            class="cell medium-9 clickable"
            (click)="select($event, fileIndex, file)"
            (dblclick)="browse(file)"
        >
            <i class="fas fa-folder" *ngIf="file.type === 'dir'"></i>
            <i class="far fa-file" *ngIf="file.type !== 'dir'"></i>
            <span> {{ file.name }} </span>
        </div>
        <div class="cell medium-3">
            {{ file.length | filesize }}
        </div>
    </div>
    <div class="grid-x" *ngIf="inProgress">
        <div class="cell medium-12">
            <i class="fas fa-spin fa-atom"></i>
        </div>
    </div>
    <span *ngIf="hasError" class="label alert">Error retrieving files</span>
</div>
