:global(.btn-close) {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

:global(.btn-close::after) {
  content: '\00D7'; /* Unicode character for 'X' */
}

.input-custom-size {
  width: 35.75rem;
}

.field-wrapper {
  display: flex;
  vertical-align: top;
  gap: 8px;
  margin-bottom: 1.5em;
}

.field-wrapper-alt {
  margin-top: -2.15rem;
  margin-bottom: -0.1rem;
  max-width: 40em;
}

.hazmapper-custom {
  display: inline-flex;
  align-items: center;
  padding: 0 1.75rem;
  font-size: 1rem;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-top: 2.27rem;
  margin-left: -9px;
  min-width: 100px;
  height: 2.9em;
}
