:global(.btn-close) {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

:global(.btn-close::after) {
  content: '\00D7'; /* Unicode character for 'X' */
}

.custom-error-message {
  margin-top: 0.25rem;
  font-size: 1.2em;
  color: #dc3545;
}

.input-custom-size {
  width: 35.75rem;
}

.field-wrapper {
  display: flex;
  vertical-align: top;
  gap: 8px;
  margin-bottom: 1.5em;
}

.field-wrapper-alt {
  display: flex;
  vertical-align: top;
  gap: 8px;
  margin-bottom: 1.5em;
  margin-top: -1.5rem;
}

.check-wrapper {
  display: flex;
  margin-left: 1rem;
  margin-top: -0.9rem;
}

.hazmapper-custom {
  display: inline-flex;
  align-items: center;
  padding: 0 0.75rem;
  font-size: 1rem;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-top: 2.27rem;
  margin-left: -9px;
  min-width: 100px;
  height: 2.9em;
}

.custom-sync-description {
  font-style: italic;
  margin-top: -1.25rem;
}
