.dropzone-area {
  background-color: #f4f4f4;
  height: 235px;
  position: relative;
}

.dropzone-area * {
  font-size: 1.25rem;
}

.no-attachment-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-attachment-view :global(.icon-upload) {
  /* This rule needs the additional '.icon' in order for it to be picked up first both in dev and prod (see Core-Portal PR #667) */
  color: #70707026;
  display: flex;
  font-size: 190px;
  position: absolute;
}

.attachment-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.attachment-view > div {
  flex-grow: 1;
  overflow-y: auto;
}

.attachment-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.attachment-remove {
  font-size: 0.75rem;
}

.rejected-file-message {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.dropzone-select-more {
  width: fit-content;
}
