<div class="dock-panel">
  <div class="dock-panel-header">
    <span class="dock-panel-title"> Manage </span>
  </div>

  <div class="dock-panel-content">
    <tabset *ngIf="activeProject">
      <tab heading="Map">
        <h6 id="property-title">Name:</h6>
        <app-edit-name-input
          [inputType]="'text'"
          [currentName]="activeProject.name"
          [errorMessage]="nameErrorMessage"
          [inputError]="nameInputError"
          (nameChange)="changeProjectName($event)"
        >
        </app-edit-name-input>

        <h6 id="property-title">Description:</h6>
        <app-edit-name-input
          [inputType]="'textarea'"
          [currentName]="activeProject.description"
          [errorMessage]="descriptionErrorMessage"
          [inputError]="descriptionInputError"
          (nameChange)="changeProjectDescription($event)"
        >
        </app-edit-name-input>

        <div style="display: flex; flex-direction: column; justify-content: center">
          <button class="button warning alert hollow" (click)=deleteProject()>
            <i class="fas fa-trash"></i>  Delete map
          </button>
        </div>
      </tab>

      <tab heading="Members">
        <div>
          <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
            <input type="text" formControlName="username" required="true">
            <button class="button success" style="width: 100%" type="submit" [disabled]="!addUserForm.valid">Add</button>
          </form>
        </div>
        <h6 id="property-title"> Current Members </h6>
        <app-user-row [user]="user" *ngFor="let user of projectUsers"></app-user-row>
      </tab>


      <tab heading="Public">
        <h6 id="property-title">Public Access</h6>

        <div *ngIf="activeProject.public" class="public-status-container">
          <span class="public-status-message" style="margin-bottom: 20px"> This map can be viewed by anyone with this link:</span>
          <div style="display: flex">
            <a [href]="getPublicUrl()" [tooltip]="getPublicUrl()" target="_blank" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 180px">
              {{getPublicUrl()}}
            </a>
            <span style="display: inline-block; cursor: pointer" (click)="copyLinkToClipboard(getPublicUrl())">
              <i class="far fa-copy"></i>
            </span>
          </div>
          <span *ngIf="this.publicStatusChangingError" class="label alert">Unable to make map private.</span>
          <button class="button hollow left" style="margin-top: 20px" [disabled]="this.publicStatusChanging" (click)=updateMapPublicAccess(false)>
            <i class="fas fa-lock"></i>  Make map private
          </button>
        </div>
        <div *ngIf="!activeProject.public" class="public-status-container">
          <span class="public-status-message">This map is private and can only be viewed by team members.</span>
          <span *ngIf="this.publicStatusChangingError" class="label alert">Unable to make map public.</span>
          <button class="button hollow left" style="margin-top: 20px" [disabled]="this.publicStatusChanging" (click)=updateMapPublicAccess(true)>
            <i class="fas fa-globe"></i>  Make map public
          </button>
        </div>
      </tab>

      <tab heading="Save">
        <h6 id="property-title">Location</h6>
        <div *ngIf="activeProject.system_path || activeProject.ds_id; else noSave">
          <div *ngIf="activeProject.system_path" style="margin-bottom: 10px">
            <span>Path:  </span>
            <a [href]="dsHref"><span>{{activeProject.system_path}}</span></a>
          </div>

          <div *ngIf="activeProject.system_id.includes('project'); else myData" style="margin-bottom: 20px">
            <span>Project:  </span>
            <a [href]="projectHref">
              <span>
                {{activeProject.ds_id}} | {{activeProject.title}}
              </span>
            </a>
          </div>

          <ng-template #myData>
            <div style="margin-bottom: 20px">
              <span>System: </span>
              <a [href]="myDataHref">
                <span>My Data</span>
              </a>
            </div>
          </ng-template>
        </div>
        <ng-template #noSave>
          <div style="margin-bottom: 20px">
            Map link not saved.
          </div>
        </ng-template>

        <div style="display: flex; flex-direction: column; justify-content: center">
          <button class="button hollow" (click)=openExportProjectModal()>
            <i class="fas fa-save"></i>  Save map link
          </button>
        </div>
      </tab>

    </tabset>
  </div>
</div>
