<div class="dock-panel">
  <div class="dock-panel-header">
    <span class="dock-panel-title"> Team Members </span>
  </div>

  <div class="dock-panel-content">
    <div>
      <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
        <input type="text" formControlName="username" required="true">
        <button class="button success" type="submit" [disabled]="!addUserForm.valid">Add</button>
      </form>
    </div>
    <h4> Current Members </h4>
    <app-user-row [user]="user" *ngFor="let user of projectUsers"></app-user-row>
    <div class="">
      <h4> Map </h4>
      <h6 id="property-title">Name:</h6>
      <app-edit-name-input
        [inputType]="'text'"
        [currentName]="activeProject.name"
        [errorMessage]="nameErrorMessage"
        [inputError]="nameInputError"
        (nameChange)="changeProjectName($event)"
      >
      </app-edit-name-input>

      <h6 id="property-title">Description:</h6>
      <app-edit-name-input
        [inputType]="'textarea'"
        [currentName]="activeProject.description"
        [errorMessage]="descriptionErrorMessage"
        [inputError]="descriptionInputError"
        (nameChange)="changeProjectDescription($event)"
      >
      </app-edit-name-input>

      <h6 id="property-title">Map Link Location</h6>
      <div *ngIf="activeProject.system_path; else noSave" style="margin-bottom: 20px">
        <a [href]="dsHref"><span>{{activeProject.system_path}}</span></a>
      </div>
      <ng-template #noSave>
        <div style="margin-bottom: 20px">
          Map link not saved.
        </div>
      </ng-template>

      <h6 id="property-title">Linked Project</h6>
      <div *ngIf="activeProject.ds_id && activeProject.system_id.includes('project'); else noLink" style="margin-bottom: 20px">
        <a [href]="'https://www.designsafe-ci.org/data/browser/projects/' + activeProject.system_id + '/'">
          <span>
            {{activeProject.ds_id}} | {{activeProject.title}}
          </span>
        </a>
      </div>
      <ng-template #noLink>
        <div style="margin-bottom: 20px">
          No map link! <br />
          <small><em>To link to a project, you must export a map link to a project.</em></small>
        </div>
      </ng-template>

      <h6 id="property-title">Public Access</h6>

      <div *ngIf="activeProject.public" class="public-status-container">
        <span class="public-status-message"> This map can be viewed by anyone with this link:</span>
        <a  [href]="getPublicUrl()" target="_blank">
          {{getPublicUrl()}}
        </a>
        <span *ngIf="this.publicStatusChangingError" class="label alert">Unable to make map private.</span>
        <button class="button hollow right" [disabled]="this.publicStatusChanging" (click)=updateMapPublicAccess(false)>
          <i class="fas fa-lock"></i>  Make map private
        </button>
      </div>
      <div *ngIf="!activeProject.public" class="public-status-container">
        <span class="public-status-message">This map is private and can only be viewed by team members.</span>
        <span *ngIf="this.publicStatusChangingError" class="label alert">Unable to make map public.</span>
        <button class="button hollow right" [disabled]="this.publicStatusChanging" (click)=updateMapPublicAccess(true)>
          <i class="fas fa-globe"></i>  Make map public
        </button>
      </div>


      <div class="grid-x">
      <button class="button hollow" (click)=openExportProjectModal()>
        <i class="fas fa-save"></i>  Export map link
      </button>
      <button class="button warning alert hollow" (click)=deleteProject()>
        <i class="fas fa-trash"></i>  Delete map
      </button>
      </div>
    </div>
  </div>
</div>
