:host
    #property-title
        font-size: 18px
        font-weight: bold
    .public-status-container
        display: flex
        flex-direction: column
    .public-status-message
        font-size: 12px
        font-style: italic
    .right
        align-self: flex-end