<div id=welcome-background class="grid-x align-center">
  <div class="grid-y align-center">
    <div id="welcome-information" class="grid-y">
      <div id="welcome-logo">
        <img src="assets/icon.png" width="100px">
        <h1>
          Hazmapper
        </h1>
        <i>Version 2.3D (<a href="https://github.com/TACC-cloud/hazmapper">Release Notes</a>)</i>

      </div>
    </div>

    <div class="grid-x align-center">
      <div id=welcome-projects-list class="grid-y align-center" style="width: 600px">
        <div class="welcome-project-header grid-x align-justify">
          <div>
            <b>Maps</b>
          </div>
          <div>
            <div (click)="openCreateProjectModal()" style="cursor: pointer">
              <i class="fas fa-plus"></i>
              Create a New Map
            </div>
          </div>
        </div>

        <div *ngIf="projects.length > 0; else noProject" class="project-list-container">
          <div *ngFor="let p of projects; let indexOfelement=index;">
            <div style="cursor: pointer; font-size: 14pz; padding: 12px; display: flex; jusitfy-content: space-between;"
                 [ngClass]="{'welcome-project-light': (indexOfelement % 2) == 0, 'welcome-project-dark': (indexOfelement % 2) == 1, 'welcome-project': true, 'grid-x': true, 'align-justify' :true}">
              {{p.name}}
              <div>
                <!-- <button style="cursor: pointer; padding: 0px 10px" (click)="routeToProject(p.id)"> -->
                <!-- <button style="cursor: pointer; padding: 0px 10px" (click)="routeToProject(p.id)"> -->
                <button style="cursor: pointer; padding: 0px 10px" (click)="routeToProject(p.uuid)">
                  <i style="cursor: pointer" class="fas fa-folder-open"></i>
                </button>
                <button style="cursor: pointer; padding: 0px 10px" (click)=deleteProject(p)>
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <ng-template #noProject>
          <div id="welcome-no-project">
            <div>
              No Map Exists!
            </div>
            <div>
              Create a New Map.
            </div>
          </div>

        </ng-template>

      </div>

    </div>
    <div class="grid-x align-center" style="padding: 20px">
      <div style="width: 550px; text-align: right">
        <a href="https://www.designsafe-ci.org/rw/user-guide/workspace/hazmapper/">
          <i class="fas fa-info-circle"></i>
          User Guide
        </a>
      </div>
    </div>

  </div>
</div>
