:host
  #welcome-background
    background-color: #f7f7f7
    height: calc(100% - 40px)
    #welcome-projects-list
      background-color: #ffffff
      width: 400px
    .welcome-project
      font-size: 24px
      padding: 20px
    .welcome-project:hover
      color: #ffffff
      background-color: #3c6fdb
    #welcome-no-project
      height: 100%
      display: flex
      flex-direction: column
      font-size: 24px
      padding-top: 150px
      align-items: center
    #welcome-information
      background-color: #f7f7f7    
      // padding: 150px 300px
      padding: 150px
      width: calc(100% - 400px)
      #welcome-logo
        display: flex
        flex-direction: column
        padding-bottom: 50px
      #welcome-learn
        padding-top: 30px
