<div id=welcome-background class="grid-x align-center">
  <div class="grid-y align-center">
    <div id="welcome-information" class="grid-y">
      <div id="welcome-logo">
        <img src="assets/Hazmapper-Stack@4x.png" width="250px">
        <div style="margin-top: 10px" id="release-version">Version 2.7</div>
      </div>
    </div>

    <div class="grid-x align-center">
      <div id=welcome-projects-list class="grid-y align-center">
        <div class="welcome-project-header grid-x">
          <div class="map-column">
            <b>Map</b>
          </div>
          <div class="project-column">
            <b>Project</b>
          </div>
          <div class="button-column" style="text-align: right">
            <div id="new-map" (click)="openCreateProjectModal()">
              <i class="fas fa-plus"></i>
              Create a New Map
            </div>
          </div>
        </div>

        <div *ngIf="spinner; else projectLoaded">
          <div id="welcome-no-information">
            <div>
              Loading Projects <i class="fas fa-spin fa-spinner ml-4"></i>
            </div>
          </div>
        </div>

        <ng-template #projectLoaded>
          <div *ngIf="notConnected; else projectConnected">
            <div id="welcome-no-information">
              <div>
                Failed to Connect to Server!
              </div>
            </div>
          </div>

          <ng-template #projectConnected>
            <div *ngIf="projects.length > 0; else noProject" class="project-list-container">
              <div *ngFor="let p of projects; let indexOfElement=index;">
                <div (click)="routeToProject(p.uuid)"
                     class="project-list-item"
                     [ngClass]="{
                                 'welcome-project-light': (indexOfElement % 2) == 0,
                                 'welcome-project-dark': (indexOfElement % 2) == 1,
                                 'welcome-project': true,
                                 'grid-x': true
                                 }">

                  <div class="map-column">
                    <span [tooltip]="p.name" class="project-name">{{p.name}}</span>
                  </div>

                  <div class="project-column">
                    <ng-container *ngIf="p.system_id && p.system_id.startsWith('project'); else noProject" class="list-column link-hover">
                      <span class="project-name" [tooltip]="p.title">
                        {{p.ds_id}} | {{p.title}}
                      </span>
                    </ng-container>
                    <ng-template #noProject>
                      ----------
                    </ng-template>
                  </div>
                  <div class="button-column" style="text-align: right">
                    <button class="project-list-item-button" [tooltip]="'Edit Map'">
                      <i class="fas fa-edit"></i>
                    </button>
                    <ng-container *ngIf="p.deletingFailed; else deletingNotFailed">
                      <button style="color: #cc4b37" class="project-list-item-button" [tooltip]="'Map Failed to Delete'" (click)="openDeleteProjectModal(p, $event)">
                        <i class="fas fa-exclamation-triangle"></i>
                      </button>
                    </ng-container>
                    <ng-template #deletingNotFailed>
                      <ng-container *ngIf="p.deleting; else notDeleting">
                        <button class="project-list-item-button" [tooltip]="'Deleting Map'">
                          <i class="fas fa-spin fa-spinner"></i>
                        </button>
                      </ng-container>

                      <ng-template #notDeleting>
                        <button class="project-list-item-button" [tooltip]="'Delete Map'" (click)="openDeleteProjectModal(p, $event)">
                          <i class="fas fa-trash"></i>
                        </button>
                      </ng-template>
                    </ng-template>

                  </div>
                </div>
              </div>
            </div>

            <ng-template #noProject>
              <div id="welcome-no-information">
                <div>
                  No Map Exists!
                </div>
                <a (click)="openCreateProjectModal()">
                  Create a New Map.
                </a>
              </div>
            </ng-template>
          </ng-template>
        </ng-template>
      </div>


    </div>
    <div class="grid-x align-center" id="user-guide-container">
      <div id="user-guide">
        <a href={{guide_url}}>
          <i class="fas fa-info-circle"></i>
          User Guide
        </a>
      </div>
    </div>

    <div class="grid-x" id="sponsor">
      <a href="https://www.nsf.gov/">
        <img src="assets/nsf.png" width="60px">
      </a>
      <a href="https://www.designsafe-ci.org/">
        <img src="assets/designsafe.svg" width="200px">
      </a>
      <a href="https://www.designsafe-ci.org/about/">
        <img src="assets/nheri.png" width="150px">
      </a>
    </div>

  </div>
</div>
