<div *ngIf="activeStreetview && activeStreetview.instances.length; else noInstances">
  <div *ngFor="let svi of activeStreetview.instances; let i = index">
    <div class="instance-container">
      <div (click)="openStreetviewInstanceInfoModal(svi.id)" class="instance-name" style="display: flex">
        <i class="fas fa-list" style="padding-left: 8px; padding-bottom: 5px; padding-bottom: 5px; padding-top: 9px; padding-bottom: 5px; margin-bottom: 0px"></i>
        <span [tooltip]="svi.system_id + svi.path"
              style="margin-left: 5px; padding-top: 5px; width: 150px; display: inline-block; padding-bottom: 5px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap">
          {{svi.path}}
        </span>
      </div>
    </div>
  </div>
</div>
<ng-template #noInstances>
  No linked Mapillary assets
</ng-template>
