<div class="text-center">
  <h6 class="">Geometry: {{feature.geometry.type}}</h6>
  <div *ngIf="feature.geometry.type === 'Point'">
    <table>
      <thead>
      <th class="text-center">Latitude</th>
      <th class="text-center">Longitude</th>
      </thead>
      <tbody>
        <tr> <td>{{feature.geometry.coordinates[1]}}</td> <td>{{feature.geometry.coordinates[0]}}</td></tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="feature.geometry.type !=='Point'">
    <table>
      <tbody>
      <tr> <td *ngIf="hasArea">Area (&#13217;)</td><td *ngIf="hasArea">{{area}} 1</td></tr>
      <tr> <td *ngIf="hasLength">Length (m)</td><td *ngIf="hasLength">2 {{length}} 2</td></tr>
      </tbody>
    </table>
  </div>
  <table *ngIf="feature.geometry.type !=='Point' && bbox">
    <thead>
    <tr>
      <th colspan="3">Bounding Box</th>
    </tr>
    <tr>
      <th></th>
      <th class="text-center">Latitude</th>
      <th class="text-center">Longitude</th>
    </tr>
    </thead>
    <tbody>
    <tr> <td>Min</td> <td>{{bbox[1]}}</td> <td>{{bbox[0]}}</td></tr>
    <tr> <td>Max</td> <td>{{bbox[3]}}</td> <td>{{bbox[2]}}</td></tr>
    </tbody>
  </table>
</div>