<div class="dock-panel">
    <div class="dock-panel-header">
        <span class="dock-panel-title"> Assets </span>
        <ul class="dropdown vertical menu" dropdown>
            <li class="is-dropdown-submenu-parent">
                <button dropdownToggle class="dropdown button tiny hollow" aria-controls="dropdown-button">
                    Add
                </button>
                <ul *dropdownMenu class="menu is-dropdown-submenu" role="menu">
                    <li class="clickable" (click)="openFileBrowserModal()">From DesignSafe</li>
                    <li class="clickable">
                        <label for="upload"> From local file </label>
                        <input type="file" id="upload" style="display: none" (change)="handleFileInput($event.target.files)">

                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div
        class="dock-panel-content"
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"
        [scrollWindow]="false"
    >
        <app-feature-row
            *ngFor="let feat of displayFeatures"
            (click)="selectFeature(feat)" [feature]="feat"
            [ngClass]="{'active': activeFeature && feat.id == activeFeature.id}"
        >
        </app-feature-row>
    </div>
    <div class="dock-panel-controls">
        <div class="expanded button-group tiny">
            <button class="button hollow">Export to GeoJSON</button>
            <button class="button hollow">Export to KML</button>
        </div>
    </div>
</div>
