<div class="grid-y asset-detail">
  <div class="cell medium-1">
    <div class="asset-detail-header">
      <app-feature-icon [feature]="feature"></app-feature-icon>
      <div class="feature-label">
        {{feature.properties.label || feature.properties.title || feature.id}}
      </div>
      <div>
        <button class="close-button" (click)="close()">
          <span>&times;</span>
        </button>
      </div>
    </div>
    <hr>
  </div>
  <div class="cell medium-5 auto asset-detail-content">
    <img *ngIf="feature.featureType() ==='image'" [src]="featureSource">
    <video *ngIf="feature.featureType() ==='video'"
           [src]=featureSource
           controls width="100%">
    </video>
  </div>
  <div class="cell medium-1 text-center asset-detail-action">
    <div *ngIf="feature.featureType() === 'image'">
      <a [href]="featureSource" download="feature-{{feature.id}}.jpeg">
        <button class="button small">
          Download
        </button>
      </a>
    </div>
    <div *ngIf="feature.featureType() === 'point_cloud'">
      <a [href]="featureSource+'/index.html'" target="_blank">
        <button class="button small">
          View
        </button>
      </a>
    </div>
    <div *ngIf="!feature.assets.length" class="text-center">
      <div data-alert class="alert-box secondary">
        Feature has no asset.
      </div>
      <label for="assetFileUpload" class="button"><i class="fas fa-plus"></i></label>
      <input type="file" id="assetFileUpload" style="display: none"
             (change)="handleAssetFileInput($event.target.files)">
    </div>
    <hr>
  </div>
  <div class="cell medium-5 asset-detail-content">
    <app-feature-metadata [feature]="feature"></app-feature-metadata>
    <app-feature-geometry [feature]="feature"></app-feature-geometry>
  </div>
</div>
