<div class="grid-y">
  <div class="cell medium-1">
    <div class="asset-detail-header">
      <app-feature-icon [feature]="feature"></app-feature-icon>
      <div>
        {{feature.properties.label || feature.id}}
      </div>
      <div>
        <button class="close-button" (click)="close()">
          <span>&times;</span>
        </button>
      </div>
    </div>
    <hr>
  </div>
  <div class="cell medium-10 auto asset-detail-content">
    <img *ngIf="feature.featureType() ==='image'" src="/api/{{feature.assets[0].path}}.jpeg">
    <app-feature-metadata [feature]="feature"></app-feature-metadata>
  </div>
  <div class="cell medium-1 text-center asset-detail-footer">
    <hr>
    <div *ngIf="feature.featureType() === 'image'">
      <a href="/api/{{feature.assets[0].path}}.jpeg" download="feature-{{feature.id}}.jpeg">
        <button class="button small">
          Download
        </button>
      </a>
    </div>
  </div>
</div>
