.system-select-wrapper {
  max-width: 100%;
  margin-bottom: 1em;
}

.system-select {
  box-sizing: border-box;
  width: 100%;
  height: 3em;
}

.file-browser {
  flex-grow: 1;
}

.icon.icon-opeenParentFolder {
  background: red;
}
