<div class="dock-panel">
    <div class="dock-panel-content">
        <div><span class="dock-panel-title"> Filters </span></div>
        <div>
            <h6>Date Range</h6>
            <div>
                <label for="todayFilter">Today </label> <input type="checkbox" id="todayFilter">
            </div>
        </div>
        <div>
            <h6>Asset Types</h6>
            <div>
                <label for="imageFilter">Images </label> <input type="checkbox" id="imageFilter">
            </div>
            <div>
                <label for="videoFilter">Videos </label> <input type="checkbox" id="videoFilter">
            </div>
        </div>
    </div>
</div>

