<div class="grid-x">
    <div class="cell auto">
        <span class="pointcloud-description" [tooltip]="pc.description" [delay]="700">{{ pc.description }}</span>
    </div>
    <div class="cell large-7 grid-x align-right">
        <button dropdownToggle class="button tiny hollow" aria-controls="dropdown-button" (click)="openFileBrowserModal()">
            Add las/laz
        </button>
        <button class="button alert tiny hollow" (click)="delete()">
            <i class="fas fa-trash"></i>
        </button>
        <button class="button tiny hollow" tooltip="View additional information" [delay]="700" (click)="openPointCloudInfoModal()">
            <i class="fas fa-info-circle"></i>
        </button>
    </div>
</div>
