/* To style "Required" flag on field */
/* TODO: Remove this after making it moot:
         - either use c-form__star instead of <Badge> (like CMS)
         - or add c-form__badge into TACC/Core-Styles
*/
.c-form__field.has-required .badge {
  color: white;
  font-weight: var(--medium);

  margin-left: 0.5em;
  vertical-align: top;
}
