<app-file-browser
  [single]=single
  [allowFolders]=allowFolders
  [allowedExtensions]=allowedExtensions
  [onlyFolder]=onlyFolder
  [showPublicSystems]=false
  [heading]="'Select Export Location'"
  [helpText]="'If no folder is selected, the file will be exported to the root of the selected system.' +
           'If you select a project, you can link the current map to the project.'"
  (selection)="onSelect($event)"
  (systemSelection)="onSystemSelect($event)"
  (currentPath)="setCurrentPath($event)">
</app-file-browser>

<div style="padding: 20px 0px">
  <label> Custom file name:
    <input type="text" [(ngModel)]="fileName">
  </label>
  <small><em>If name is not given, file will be saved as the map uuid.</em></small>
</div>

<div class="confirm-checkbox">
  <label>
    <span [ngClass]="{dimmed: linkCheckbox.disabled}">Link Project</span>
    <input #linkCheckbox type="checkbox"
           [disabled]="selectedSystem && !selectedSystem.id.includes('project')"
           [(ngModel)]="linkProject">
  </label>
  <div *ngIf="linkCheckbox.disabled">
    <small><em>Must be in a project folder to link!</em></small>
  </div>
</div>

<div *ngIf="activeProject.system_path" class="confirm-checkbox">
  <label>
    <span>Remove previously saved file</span>
    <input type="checkbox"
           [(ngModel)]="confirmRemove">
  </label>
  <small><em>Exporting this map will remove the previous link and link file's location.</em></small>
</div>

<div>
  <button class="button warning" (click)="cancel()">Cancel</button>
  <button class="button" [disabled]="!selectedFiles.length && !allowEmptyFiles || (activeProject.system_path && !confirmRemove)" (click)="close()">Export</button>
</div>
