
.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.container {
  height: calc(
    100vh - var(--hazmapper-header-navbar-height) -
      var(--hazmapper-control-bar-height)
  );
  width: 100%;
  display: flex;
  flex: 1;
}

.panelContainer {
  width: var(--hazmapper-panel-width);
  height: calc(
    100vh - var(--hazmapper-header-navbar-height) -
      var(--hazmapper-control-bar-height)
  );
  background-color: var(--global-color-primary--xx-light);
  position: absolute;
  left: var(--hazmapper-panel-navbar-width);
  z-index: 5000;
}
.detailContainer {
  min-width: 250px;
  max-width: 400px;
  height: auto;
  background-color: var(--global-color-primary--xx-light);
  position: fixed;
  padding: 5px;
  right: 10px;
  top: 75px;
  bottom: 20px;
  z-index: 5000;
}

.map {
  width: 100%;
  height: 100%;
}
