.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

.customInputContainer {
  position: relative;
  display: inline-block;
}

.customInput {
  padding-right: 20px;
  width: 73%;
}

.tooltip {
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.filterOption {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.filterLabel {
  padding-top: 5px;
}

.filterOption input[type='checkbox'] {
  margin-right: 10px;
}

h2 {
  padding-top: 9px;
}

h3 {
  color: #0f83bd;
}

h5 {
  padding-top: 5px;
}
