@import '../../../variables.styl'

// TODO: Fix annoying margin flash
:host
    min-height 20em
    .fileslisting
        min-height 15em
        max-height 15em
        overflow-y scroll
    .file-row
        border 1px solid transparent
        &:hover
            border 1px solid $lightGrey;
        &.selected
            background #d3d3d3
