<div class="text-center">
  <h6 class="">Geometry: {{feature.geometry.type}}</h6>
  <div *ngIf="feature.geometry.type === 'Point'">
    <table>
      <thead>
      <th class="text-center">Longitude</th>
      <th class="text-center">Latitude</th>
      </thead>
      <tbody>
        <tr> <td>{{feature.geometry.coordinates[0]}}</td> <td>{{feature.geometry.coordinates[1]}}</td></tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="feature.geometry.type ==='Polygon' || feature.geometry.type ==='MultiPolygon'">
    <table>
      <tbody>
      <tr> <td>Area (&#13217;)</td><td>{{area}} </td></tr>
      </tbody>
    </table>
  </div>
</div>
