:host
  .add-button
    height: 40px
  .qms-search-input
    display: inline-block
  .qms-search-button
    display: inline-block
    margin-bottom: 1.3em
  .qms-search-results
    overflow-y: scroll
    max-height: 300px
    background-color: #eeeeee
    margin-bottom: 1rem
  .qms-search-result-container
    margin: 20px
  .qms-name
    width: 400px
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
  .qms-description
    font-size: 12px
    font-style: italic
  .qms-add-button
    height: 40px