.root {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: var(--hazmapper-header-navbar-height);
  padding: 5px;
}
.userButton {
  color: white !important;
  &:hover {
    text-decoration: underline;
  }
}
