@import '../../../variables.styl'

:host
    #property-container
        display: flex
        justify-content: space-between
        margin-bottom: 1.5rem
    #property-subcontainer
        display: flex
        align-items: center
        width: 150px
    #property-name
        display: inline-block
        font-size: 16px
        width: 100%;
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        height: 18px
        line-height: 1.0
    #property-input
        display: inline-block
        width: 100%
        font-size: 16px
        padding: 0px
        margin: 0px
        border: 0px solid #f0f0f0
        -webkit-border-radius: 0px
        border-radius: 0px
        height: 18px
        line-height: 1.0        
    #property-textarea
        display: inline-block
        width: 100%
        font-size: 16px
        height: 100px
        padding: 0px
        resize: none
        margin: auto
        border: 0px solid #f0f0f0
        -webkit-border-radius: 0px
        border-radius: 0px
    .display-error
        color: #ff0000
        font-size: 9px
        font-style: italic
        