/* 
* NOTE: questionnaireBuilder.ts and modal-questionnaire-viewer.component.style
* derived from source provided written by Rapid Developers and provided to us on 2022.11.02
* We are using this code provide a quick prototype of questionnaire viewers using existing code.
* This code on independent on jquery, which is not used anywhere else in the codebase.
*
* Do not to utilize this code within hazmapper, we take the following approach:
*
* 1. modal-questionnaire-viewer.component.ts imports the questionnaireBuilder.ts file and jquery and renders it.
* 2. There have been some modifications to questionnaireBuilder.ts file to adapt to typescript errors.
* 3. modal-questionnaire-viewer.component.styl utilizes ng-deep to expose css beyond the scope of the component.
*    Thus, in the mean time, one has to take caution in utilizing those keywords when choosing style class/ids.
*
* Some possible TODOs in maintaining and improving this feature are:
*
* 1. Isolate the css to the independent component.
* 2. Update the js as the Rapid developers seem to modify code either 
*    by requesting the team or 
*    by accessing https://rapid.apl.uw.edu/rapp/ and retreiving the code as the code is not minimized.
*/

/****** SELECTORS USED ACROSS QUESTIONNAIRE ******/
::ng-deep div.questionHeaderWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

::ng-deep p.instructionText {
    font-style: italic;
}

::ng-deep textarea.instructionField {
    font-style: italic;
}

::ng-deep div.locationMapContainer .leaflet-control-container {
    display: none;
}

::ng-deep div.locationMapContainer {
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
}

::ng-deep div.answerBubbleViewMode,
::ng-deep div.answerBubbleViewModeSelected,
::ng-deep div.questionOptionShape {
    border: solid 1px hsl(0, 0%, 10%);
}

::ng-deep div.questionOptionShape {
    border-radius: 15px;
    height: 28px;
    width: 28px;
}

::ng-deep .optionSelected {
    background-color: rgb(51, 204, 255) !important;
}

/****** CUSTOM SELECTORS FOR HAZMAPPER QUESTIONNAIRE VIEWER ******/

// NOV 2023 Redesign for Hazmapper Integration.
// Fix modal layout for Questionnaire viewer.
// Testing against 1080px, 1280px, 1440px and 1920px widths.

::ng-deep body > modal-container > div.reveal {
    margin: 0;
    margin-left: 8%;
    margin-right: auto;
    padding: 2%;
    width: 57%;
    line-height: auto;
}

::ng-deep body > modal-container > div > div > * {
    margin: 10px;
    padding: 20px;
    line-height: auto;
}

::ng-deep body > modal-container > div > div > app-modal-questionnaire-viewer > div.view-only-questionnaire-container > div > div.dropDownViewModeContainer > div.questionnaireOptions > tr {
    height: 30px;
    vertical-align: middle;
}

::ng-deep body > modal-container > div > div > app-modal-questionnaire-viewer > div.view-only-questionnaire-container > div > div.dropDownViewModeContainer > div > tr > td:nth-child(1) > div.answerBubbleViewMode,
::ng-deep body > modal-container > div > div > app-modal-questionnaire-viewer > div.view-only-questionnaire-container > div > div.dropDownViewModeContainer > div > tr > td:nth-child(1) > div.questionOptionShape,
::ng-deep body > modal-container > div > div > app-modal-questionnaire-viewer > div.view-only-questionnaire-container > div > div.dropDownViewModeContainer > div > div > div > div > tr > td:nth-child(1) > div.questionOptionShape {
    width: 15px;
    height: 15px;
}

::ng-deep body > modal-container > div > div > app-modal-questionnaire-viewer > div.view-only-questionnaire-container > img {
    margin-bottom: 10px;
}

::ng-deep body > modal-container > div > div > app-modal-questionnaire-viewer > div.view-only-questionnaire-container > div > div.wrapper > div.locationMapContainer,
::ng-deep body > modal-container > div > div > app-modal-questionnaire-viewer > div.view-only-questionnaire-container > img {
    border: 1px solid #000000;
}

body > modal-container > div > div > app-modal-questionnaire-viewer > div.view-only-questionnaire-container > div > div.dropDownViewModeContainer > div.questionnaireOptions > tr > * {
    vertical-align: middle !important;
}
