/* 
* NOTE: questionnaireBuilder.ts and modal-questionnaire-viewer.component.style
* derived from source provided written by Rapid Developers and provided to us on 2022.11.02
* We are using this code provide a quick prototype of questionnaire viewers using existing code.
* This code on independent on jquery, which is not used anywhere else in the codebase.
*
* Do not to utilize this code within hazmapper, we take the following approach:
*
* 1. modal-questionnaire-viewer.component.ts imports the questionnaireBuilder.ts file and jquery and renders it.
* 2. There have been some modifications to questionnaireBuilder.ts file to adapt to typescript errors.
* 3. modal-questionnaire-viewer.component.styl utilizes ng-deep to expose css beyond the scope of the component.
*    Thus, in the mean time, one has to take caution in utilizing those keywords when choosing style class/ids.
*
* Some possible TODOs in maintaining and improving this feature are:
*
* 1. Isolate the css to the independent component.
* 2. Update the js as the Rapid developers seem to modify code either 
*    by requesting the team or 
*    by accessing https://rapid.apl.uw.edu/rapp/ and retreiving the code as the code is not minimized.
*/

//***** CUSTOM SELECTORS FOR HAZMAPPER QUESTIONNAIRE VIEWER *****

// NOV 2023 Redesign for Hazmapper Integration.
// Fix modal layout for Questionnaire viewer.
// Testing against 1080px, 1280px, 1440px and 1920px widths.

// Positions the parent modal and adjusts the entire questionnaire.
::ng-deep body > modal-container > div.reveal 
    margin 0
    margin-left 8%
    margin-right auto
    padding 2%
    width 57%


::ng-deep body > modal-container > div.reveal > div.modal-content >  app-modal-questionnaire-viewer > div.view-only-questionnaire-container *  
    cursor default
    font-size 0.8rem
    line-height normal
    margin 0
    padding 0
    pointer-events none


::ng-deep div.questionWrapper 
    border-top 2px solid #cccccc


::ng-deep div.subQuestion 
    border-top 1px solid #aaaaaa
    margin-left 30px !important


::ng-deep div.subQuestion:before
    color #999999
    content " (sub-question)"
    font-size 0.6rem
    font-style italic
    font-weight bold


::ng-deep div.subQuestionOptions
    margin-left 20px !important


::ng-deep div.questionWrapper 
::ng-deep div.subQuestion
    margin-top 10px !important
    margin-bottom 10px !important


::ng-deep div.questionHeaderWrapper 
    display flex
    flex-direction row
    justify-content space-between
    padding-top 10px !important


::ng-deep p.questionNumber
    font-size 1.2rem !important
    font-weight bold


::ng-deep p.questionType
    color #444444
    font-size 0.7rem !important
    font-style normal
    font-weight bold


::ng-deep p.questionType:before
    color #999999
    content "Question Type:  "
    font-size 0.7rem
    font-style italic
    font-weight bold
    margin-right 4px !important


// This is the "Required" tag on questions.
::ng-deep p.editFieldLabel
    color #660000
    font-size 0.6rem !important
    font-style italic
    font-weight bold
    margin-top 4px !important


::ng-deep p.headingText 
    font-weight bold
    margin-bottom 10px !important
    margin-top 10px !important


::ng-deep p.questionText 
    margin-bottom 10px !important
    margin-left 10px !important
    margin-top 10px !important


::ng-deep p.instructionText 
    font-size 0.9rem
    margin-left 10px !important
    margin-top 10px !important


/**
::ng-deep p.instructionText:before
    content "Instructions "
    display block
    text-decoration underline
    margin-bottom 4px !important
**/


::ng-deep div.dropDownViewModeContainer 
    margin-left 20px !important
    margin-top 10px !important


::ng-deep textarea.instructionField 
    font-style italic


::ng-deep div.answerBubbleViewMode
::ng-deep div.answerBubbleViewModeSelected
::ng-deep div.questionOptionShape 
::ng-deep div.matrixOptionBubble.optionSelected 
    border solid 1px hsl(0, 0%, 10%)


::ng-deep div.answerBubbleViewMode
::ng-deep div.questionOptionShape 
::ng-deep div.matrixOptionBubble.optionSelected 
    height 0.5rem
    margin-right 4px !important
    width 0.5rem


::ng-deep div.questionOptionShape 
    border-radius 50%


::ng-deep .optionSelected
::ng-deep .answerBubbleViewModeSelected 
    background-color rgb(51, 204, 255) !important


::ng-deep .questionnaireQuestion 
    margin-top 2px !important


::ng-deep input.RangeAnswerField 
    color hsl(180, 100%, 32%)
    margin 0 10px
    text-align center
    width 30px


::ng-deep .rangeAnswers 
    margin-left 20px !important


::ng-deep p.rangeAnswer
::ng-deep p.rangeAnswerDoubleDigit
    font-weight bold
    margin 2px 4px !important
    padding 0 5px 2px 3px !important


::ng-deep p.rangeAnswer.selected
::ng-deep p.rangeAnswerDoubleDigit.selected 
    border 2px solid #1779ba
    border-radius 50%


::ng-deep p.questionMatrixColumnLabel 
    font-weight bold
    text-decoration underline


::ng-deep table.matrixQuestionTable > tr 
    margin-bottom 3px !important


::ng-deep table.matrixQuestionTable > tr:not(:first-child) 
    border-bottom 1px solid #dedede


::ng-deep td.spacer 
    visibility: hidden


::ng-deep div.buttonDecline 
    display none
    font-color #660000 !important
    font-size 0.9rem
    font-style italic    
    margin-left 4px !important
    margin-top 6px !important


::ng-deep div.locationMapContainer .leaflet-control-container 
    display none


::ng-deep div.locationMapContainer 
    display block
    height 500px
    position relative
    width 100%


::ng-deep p.locationQuestionDetails 
    font-weight bold
    margin-bottom 5px !important
    margin-left 10px !important
    margin-top 5px !important


::ng-deep input.locationLatLon
    margin-left 10px !important


::ng-deep textarea.locationAddress 
    display block
    height auto
    margin-bottom 5px !important
    margin-left 10px !important
    margin-top 5px !important
    position relative
    width 100%


::ng-deep div.locationMapContainer
::ng-deep app-modal-questionnaire-viewer > div.view-only-questionnaire-container > img
    border 1px solid #777777
    margin-top 5px !important


::ng-deep p.blackText
    font-weight bold
    margin-left 10px !important
    margin-top 10px !important

