.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.mainMenuHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.userName {
  color: white;
}
.listingContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.versionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
}
.versionContainer img {
  width: 250px;
}
.sponsorContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  background-color: #f7f7f7;
}
.sponsorContainer img {
  padding: 10px;
}
.menuFooter {
}
