.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.userName {
  color: white;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}
.logoContainer img {
  padding-left: 10px;
}
