.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.versionContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
}
.versionContainer img {
    width: 250px;
}
.userName {
  color: white;
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}
.logoContainer img {
  padding: 10px;
}
