/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css"
@import "~@fortawesome/fontawesome-free/css/all.css"
@import "~foundation-sites/dist/css/foundation.css"
@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
  font-family Raleway
}

lightBlue=#0f83bd
lightGrey=#d3d3d3
backgroundHighlight=#b3e5ff

.img-marker
  img
    border-radius: 50%
    border: 3px solid #fff

.icon-marker
  i
    color: #ec2def
    font-size: 3em;

.marker-cluster
  div
    width: 25px;
    height: 25px;
    background-color #4f8677;
    border: 3px solid #fff;
    text-align: center;
    border-radius: 50%;
    line-height 19px;
    color: #fff;

.control-bar
  border-bottom: 1px solid lightGrey
  .dropdown-pane
    z-index 9999

app-dock
  height auto
  .dock-button
    padding: 10px;
    cursor: pointer
    border-bottom 1px solid lightGrey
    text-align center
    &.active
      background-color backgroundHighlight

  .dock-button-label
    font-size 0.5em
    line-height 0.5
    color #6a6a6a

  .dock-button-icon
    display: inline-block;
    border: none;
    pointer-events: none;

.dock-panel
  width: 250px
  height: 100%
  .dock-panel-title
    color: lightBlue
  .dock-panel-content
    padding 5px
  .dock-panel-controls
    bottom: 0
app-map
  z-index 1

app-asset-detail
  position: fixed;
  z-index: 5000;
  width: 35%;
  min-width: 250px;
  max-width: 400px;
  right: 10px;
  height: auto;
  top: 75px;
  bottom: 10px;
  background-color: #fff
  box-shadow: 0px 2px 2px 2px hsla(0, 0%, 0%, 0.35);
  pointer-events: all;
  /* transition: right 0.5s ease-out; */
  transition: opacity 0.25s linear;


