<div>
  <div *ngIf="progressNotifications == undefined || progressNotifications.length == 0; else showLogs">
    No tasks are in progress!
  </div>

  <ng-template #showLogs>
    <div *ngFor="let notification of progressNotifications">
      <div class="upload-box">
        <div class="upload-box-name"
             style="max-width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
             [tooltip]="notification.uuid">
          {{notification.uuid}}
        </div>

        <div class="upload-info-box" *ngIf="notification.status == 'error'">
          <div class="upload-info-status">
            <span class="upload-info-message">
              Upload failed!
            </span>
            <span>
              <i class="fas fa-exclamation-triangle" style="color: #DB3A42; cursor: pointer" (click)="openDetailLogModal(notification)"></i>
            </span>
          </div>
          <div class="upload-info-button-container">
            <button class="button tiny upload-info-button" (click)="deleteErrorLog(notification)">
              Delete log
            </button>
          </div>
        </div>

        <div class="upload-info-box" *ngIf="notification.status == 'created'">
          <div class="upload-info-status">
            <span class="upload-info-message">
              {{notification.message}}
            </span>

            <span>
              <i class="fas fa-circle-notch fa-spin"></i>
            </span>
          </div>
          <div class="upload-info-button-container">
            <button class="button tiny upload-info-button" (click)="deleteDoneLog(notification)">
              Delete log
            </button>
          </div>
        </div>

        <div class="upload-info-box" *ngIf="notification.status == 'success'">
          <div class="upload-info-status">
            <span class="upload-info-message">
              Upload sucess!
            </span>

            <span>
              <i class="fas fa-check" style="color: #3ADB76; cursor: pointer" (click)="openDetailLogModal(notification)"></i>
            </span>
          </div>
          <div class="upload-info-button-container">
            <button class="button tiny upload-info-button" (click)="deleteDoneLog(notification)">
              Delete Log
            </button>
          </div>
        </div>

        <div class="upload-info-box" *ngIf="notification.status == 'in_progress'">
          <div class="upload-info-status">
            <div class="progress"
                 style="width: 100%"
                 role="progressbar"
                 tabindex="0"
                 [attr.aria-valuenow]="notification.progress"
                 aria-valuemin="0"
                 [attr.aria-valuetext]="notification.progress + ' percent'"
                 aria-valuemax="100">
              <span class="progress-meter" [style.width.%]="notification.progress">
              </span>
            </div>
          </div>
          <div class="upload-info-button-container" style="justify-content: space-between">
            <div style="font-size: 12px; padding-top: 5px; padding-top: 5px; padding-bottom: 5px">
              <i class="fas fa-circle-notch fa-spin"></i>
              {{notification.message}}
            </div>
            <button class="button tiny upload-info-button" (click)="deleteErrorLog(notification)">
              Delete log
            </button>
          </div>
        </div>

      </div>
    </div>
  </ng-template>
</div>
