@import '../../../variables.styl'

:host
  display: flex
  flex-direction row
  font-size 0.8em
  cursor pointer
  align-items center
  &:hover
    background-color lightGrey
  &.active
    background-color $greenActive

